{% load static %}


<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
      

    </style>
  </head>
  <body class="bg-light">
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

    <section class="mt-5">

        <div class="container-fluid">
            <div class="row">
              <div class="col-12 col-lg-3">

              </div>
                <div class="col-lg-6 col-12 d-flex justify-content-center" id="image_location">
                    <img id="image" class="img-fluid" data-image_id="..." src="">
                </div>
                <div class="col-12 col-lg-3">
                  <div class="d-flex flex-column" id="stats">

                  </div>
                </div>
            </div>

        </div>

</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>


window.onload = function() {
  generate_new_image();
  get_stats();
};


document.onkeypress = function(e) {
  console.log(e.which);
  /* the key codes go from 48-57 */

  key_dict = {
    48: 10,
    49: 1,
    50: 2,
    51: 3,
    52: 4,
    53: 5,
    54: 6,
    55: 7,
    56: 8,
    57: 9,
    110: -2,
  }

  if (e.which in key_dict) {
    var num = key_dict[e.which];
    save_choice(num);
    get_stats();
  }
  
};


function save_choice(score) {

    var image = document.getElementById('image');

    var image_id = image.getAttribute('image_id');
    console.log(image_id)

    var image_location = document.getElementById('image_location');

    $.ajaxSetup({ 
     beforeSend: function(xhr, settings) {
         function getCookie(name) {
             var cookieValue = null;
             if (document.cookie && document.cookie != '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                     var cookie = jQuery.trim(cookies[i]);
                     // Does this cookie string begin with the name we want?
                     if (cookie.substring(0, name.length + 1) == (name + '=')) {
                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                         break;
                     }
                 }
             }
             return cookieValue;
         }
         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
             // Only send the token to relative URLs i.e. locally.
             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         }
     } 
    });

    $.ajax({
        url: `update/`,
        method: 'POST',
        data: {
          'image_id': image_id,
          'image_score': score
        },
        dataType: 'json',
        success: function (data) {
            if (data['output'] == true) {
                generate_new_image()

            }

          }
        })
    };




function generate_new_image() {

    var image_location = document.getElementById('image_location');

    $.ajaxSetup({ 
    beforeSend: function(xhr, settings) {
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
            // Only send the token to relative URLs i.e. locally.
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    } 
    });

    $.ajax({
        url: `new_image/`,
        method: 'POST',
        data: {
        },
        dataType: 'json',
        success: function (data) {

            image_location.innerHTML = `<img class="img-fluid mx-auto" style="border-radius:1rem" src="${data['src']}" id="image" image_id="${data['image_id']}">`;
            console.log(`<img class="img-fluid mx-auto" src="${data['src']}" id="image" data-image_id="${data['image_id']}">`);
            
        }
        })
};




function get_stats() {

var stats_location = document.getElementById('stats');

$.ajaxSetup({ 
beforeSend: function(xhr, settings) {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
        // Only send the token to relative URLs i.e. locally.
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
} 
});

$.ajax({
    url: `get_stats/`,
    method: 'POST',
    data: {
    },
    dataType: 'json',
    success: function (data) {
      stats_location.innerHTML = '';
            for (var i = 0; i < data['stats_list'].length; i++){
              stats_location.innerHTML +=  `
<div class="d-flex p-3 shadow" style="border-radius:1rem">
                          <span class="bg-light fw-bold me-3" style="border-radius:50%">${data['stats_list'][i]['number']}</span>
                          <span class="">${data['stats_list'][i]['stat']}</span>
                        </div>`;
            }
            
    }
    })
};

    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>

